body,
html {
  font-size: 14px;
}

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Noto Sans", sans-serif;
}

.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
